<aside class="main-sidebar">
    <section class="sidebar">
        <!-- 侧边栏菜单 -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="color:#ffffff">菜单</li>
            <!-- 可选地,可以添加图标链接 -->
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-laptop"></i> <span>主页</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-envelope-o"></i> <span>邮箱管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url_for('main.email') }}"><i class="fa fa-circle-o"></i> <span>查询邮箱</span></a>
                    </li>
                    {% if admin.can() %}
                        <li><a href="{{ url_for('main.email_edit') }}"><i class="fa fa-circle-o"></i>
                            <span>邮箱管理</span></a>
                        </li>
                        <li><a href="{{ url_for('main.email_web') }}"><i class="fa fa-circle-o"></i>
                            <span>邮箱供应商</span></a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i> <span>资产管理</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url_for('property.ip') }}"><i class="fa fa-circle-o"></i>IP地址池</a></li>
                    <li><a href="{{ url_for('property.record') }}"><i class="fa fa-circle-o"></i>登记管理</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>个人中心</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url_for('auth.resetpw') }}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                    <li><a href="{{ url_for('auth.adduser') }}"><i class="fa fa-circle-o"></i>增加用户</a></li>
                    <li><a href="/menu"><i class="fa fa-circle-o"></i>菜单管理</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>