<aside class="main-sidebar">
    <section class="sidebar">
        <!-- 侧边栏菜单 -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="color:#ffffff">菜单</li>
            <!-- 可选地,可以添加图标链接 -->
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-laptop"></i> <span>主页</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>还有这种操作？</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url_for('auth.resetpw') }}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                    {% if admin.can() %}
                    <li><a href="{{ url_for('auth.adduser') }}"><i class="fa fa-circle-o"></i>增加用户</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </section>
</aside>