<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>cmdb</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>CMDB系统</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">切换导航栏</span>
        </a>
        <!-- Navbar右菜单 -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <div class="navbar-custom-menu">
                        <div style="padding:15px;color:#f4f4f4">
                            <span>{{ current_user.username }}</span>&nbsp;<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('auth.logout') }}" style="color:#f4f4f4;font-size:13px;">
                                <span class="fa fa-sign-out">退出</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>