{% extends 'base.html' %}
{% block styles %}
    {{ super() }}

{% endblock %}
{% block title %}开发中的测试首页{% endblock title %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                首页
                <small>介绍</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
                <li class="active">主页</li>
            </ol>
        </section>

        <section class="content container-fluid">

            <h1>{{ name }}</h1>
            <h1>{{ g.string }}</h1>
            <h1>{{ test|icon(0) }}</h1>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}

{% endblock %}