{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <!-- layui样式 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}" media="all">
    <!-- 验证样式 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap_validator/bootstrap-validator.css') }}">
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                IP地址管理
                <small>IP地址使用情况</small>
            </h1>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-6">
                            <select id='select_sever' class="select2" style="width: 25%;">
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="demoReload">
                            </div>
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <button id="add_ip_address" class="btn btn-success">增加IP地址</button>
                            <button id="#" class="btn btn-success">批量可用</button>
                            <button id="#" class="btn btn-success">批量不可用</button>
                            <button id="#" class="btn btn-danger">批量删除</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="demo" lay-filter="test"></table>
                </div>
            </div>

            <!--弹出模态框-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">
                                <span id="modal-title">根据IP掩码生成IP网络地址</span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form id="add_user" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        <span>IP地址:</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="submit" class="btn btn-primary" id="save">
                                提交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script type="text/html" id="moban">
        {% raw %}
        {{#  if(d.usable === 'True'){ }}
        <span class="label label-success">可用</span>
        {{#  } else { }}
        <span class="label label-danger">不可用</span>
        {{#  } }}
        {% endraw %}
    </script>
    <!-- layui的js -->
    <script src="{{ url_for('static',filename='layui/layui.all.js') }}"></script>
    <!-- select2的js -->
    <script src="{{ url_for('static',filename='bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- IP格式的js -->
    <script src="{{ url_for('static',filename='plugins/input-mask/jquery.inputmask.js') }}"></script>

    <script>

        //验证是否为IP
        function isValidIP(ip) {
            var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
            return reg.test(ip);
        }


        //初始化select2选项卡
        var select2 = $('.select2').select2({
            placeholder: '请选择类别',
            //allowClear: true
        })

        //初始化表单
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#demo', //指定原始表格元素选择器（推荐id选择器）
            id: 'lzh', //设定容器唯
            skin: 'row', //列边框风格
            even: true, //开启隔行背景
            page: true, //开启分页
            limit: 90,
            data: [{'id': 1, 'ip': '192.168.1.2', usable: 'True', hostname: '服务器A'}, {
                'id': 2,
                'ip': '192.168.1.3',
                usable: 'False',
                hostname: '服务器B'
            }],
            //标题栏
            cols: [[
                {checkbox: true},
                {field: 'id', title: 'ID', width: 150},
                {field: 'ip', title: 'IP地址', sort: true, edit: 'text', width: 200},
                {field: 'usable', title: '是否已用', sort: true, width: 200, templet: '#moban'},
                {field: 'hostname', title: '主机名', width: 300},
            ]],
        });

        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            console.log(value)
            if (isValidIP(value) == true) {
                layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
            }
            else {
                layer.msg("你输入的IP地址不合法,无法提交")
            }

        });

        $('[data-mask]').inputmask()

        //增加IP按钮
        $('#add_ip_address').on('click', function () {
            console.log("test")
            $("#myModal").modal("show");
        });

    </script>

{% endblock scripts %}